.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  body {
    font-family: 'lato', sans-serif;
  }

.form .form-group {
    margin: 1.1rem 0;
  }
  
  .form  {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='number'],
  .form select,
  .form textarea {
    display: block;
    width: 40%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }

  .add,
  .form input[type='submit'],
button {
  font: inherit;
  display: inline-block;
  background: rgb(104, 190, 224);
  color: rgb(168, 90, 164);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
 
  outline: none;
}
.table tbody{
    border-radius: 3px;
    padding: 25px 30px;
   
    margin-bottom: 25px;
}
.table th {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
  }
  .table tr {
    
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .pagination{
    display: inline-block;
    list-style-type: none;
  }
  .page-item{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
 
  .page-item:hover {
    background-color: #ddd;
    border-radius: 5px;
  }